<main class="content">
  <article class="post-groups">
    
    <!-- highlighted only -->
    <div class="highlighted-hikes">
      <h2>Highlighted Hikes</h2>
      <ul>
      {{ range where .Site.Pages.ByLastmod.Reverse "Params.highlight" true }}
        <div class="highlighted-hike-item">
          <li>
            <b><a rel="full-article" href="{{ .Permalink }}">{{ .Title }}</a></b> on <time datetime="{{ .Date }}" pubdate="">{{ .Date.Format "January 2, 2006" }}</time>
          </li>
        </div>
      {{ end }}
      </ul>
    </div>
    
    <hr/>
    
    <!-- by month -->
    <h2>All Hikes Grouped by Month</h2>  
    <div class="post-group">
    {{ range .Pages.GroupByDate "January 2006" }}
      <div class="post-group-item">
        <h3>{{ .Key }}</h3>
        <ul>
          {{ range .Pages.ByLastmod.Reverse }}
            <li>
              {{ if .Params.highlight }} <b> {{ end }}
              {{ if (not (isset .Params "externalurl")) }}
                <a rel="full-article" href="{{ .Permalink }}">{{ .Title }}</a>
                {{ if .Params.trashBags }} <span style="color: green; font-weight: bold;"> [Green] </span> {{ end }} 
                {{ if .Params.highlight }} </b> {{ end }}
                on <time datetime="{{ .Date }}" pubdate="">{{ .Date.Format "January 2" }}</time>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    </div>
    
  </article>
</main>
