/* Define our background color pallette */

:root {
  --lt1: #f0f0f0;
  --lt2: #c5d5c5;
  --lt3: #e3e0cc;
  --dk1: #2e4d3b;
}

div.original {
  background-color: #c0c0b06e;
  padding: 1em 2em !important;
  margin: 2em 1em;
}

code {
  font-family: serif;
  font-weight: 750;
}

pre {
  overflow: hidden;
}

.site-rev {
  font: 12px/16px "Avenir Next", "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 16px;
}

blockquote {
  background-color: #f0f2f569;
  color: #999999;
  padding: 5px;
  margin: 0;
}

blockquote p {
  font-style: italic;
  padding: 0 10px;
  margin: 0;
}

.onetab {
  background-color: #e8e7f771;
  /* margin: 40px auto; */
  margin: 0px auto;
  padding: 0px 5px 0px 15px;
  max-width: 780px;
  border-radius: 10px;
}

article.onetab span.postmeta {
  font-size: 0.75em;
  color: black;
}

.micropost > p {
  text-justify: left;
}

/* .micropost > p, .post > p, .page > p {
  color: #000000;
  font-size: 18px;
  line-height: 25px;
  margin: 0; 
  text-align: left;
  padding: 0.25em 0;
} */

.onetab > p {
  margin: 0;
}

div.announcement-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border: 5px solid orange;
  width: 90%;
  text-align: center;
  margin: 5px auto;
  padding: 1em;
}

.build-info {
  font-size: smaller;
  text-align: center;
  color: whitesmoke;
}

.footer_copyright {
  padding: 0;
}

div.timeline-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border: 5px solid #1DA1F2;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  margin-top: 5px;
}

.centered {
  margin: 0 auto;
}

div.my-gists {
  display: flex;
  background: whitesmoke;
  border: 5px solid black;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 5px;
}

div.from-dbox {
  display: block;
  background: whitesmoke;
  border: 5px solid red;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 5px;
}

.post-group-item {
  flex: auto;
  /* width: 40%; */
  margin: 5px;
  font-size: 10pt;
  color: #999999;
}

header {
  padding: 20px 0 0 0;
}

.page, .post-groups {
  margin: 20px auto !important;
}

div.prev-next {
  display: block;
  padding: 10px;
}

nav ul > li {
  padding: 5px;
}

.postmeta {
  font-size: 14px !important;
  margin-top: -8px !important; 
}

.micropost div.bold {
  font-weight: 800;
}

/* .post {
  background-color: #dbe6c660;
  margin: 5px auto;
  padding: 10px;
  max-width: 780px;
  border-radius: 10px;
} */

.section-content {
  background-color: rgb(223, 208, 221);
  padding: 0 2em;
  border: 1px solid black;
}

/* Pagefind UI control */

div.fixed-top-two {
  position: relative;
  margin-bottom: 5px;
  top: -4px;
  margin-right: 2rem;
}

.pagefind-ui {
  display: inline-block;
  margin-left: 1rem;
}

.pagefind-ui__search-input {
  font-size: calc(28px * var(--pagefind-ui-scale)) !important;
  background-color: var(--pagefind-ui-background) !important;
}

.pagefind-ui__search-clear {
  font-size: calc(28px * var(--pagefind-ui-scale)) !important;
  background-color: var(--pagefind-ui-background) !important;
}  

p.pagefind-ui__message {
  font-size: calc(28px * var(--pagefind-ui-scale)) !important;
  padding-left: 10px !important;
}

.pagefind-ui__result {
  padding: 0 !important;
}

.pagefind-ui__result-excerpt, .pagefind-ui__result-title {
  font-size: calc(28px * var(--pagefind-ui-scale)) !important;
}  

.pagefind-ui__result-image { 
  margin-left:10px;
}

/* .micropost, .post {
  margin: 5px auto;
  padding: 10px;
  max-width: 780px;
  border-radius: 10px;
} */

/* New CSS colors */

.post {
  background-color: var(--lt1);
  color: black;
}

.micropost {
  background-color: var(--lt2);
  color: black;
}

.other {
  background-color: var(--lt3);
  color: black;
}

/* .other {
  background-color: var(--dk1);
  color: white;
} */

/* Common properties - geometry only, no colors */

.common, .micropost {
  padding: 1em 2%;
  margin: 0.25em 5% !important;
  border-radius: 10px;
  max-width: none !important;
  text-align: left !important;
}

.common h1, .common h3, .common h4 {
  margin-top: 1em !important;
}

.common h2 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.common h3 {
  margin-left: 0.5em !important;
}

.page > p {
  margin-bottom: 1em !important;
}

/* Hero image handling */

img .hero .preview {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

img .hero .single {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}